@{
  Layout = "_Layout";
}

<div class="message" id="vendors-message">Add vendor</div>
<form method="post" action="/vendors">
  <div class="form-input-area"><label for="vendorName">Vendor name:</label><input type="text" name="vendorName" placeholder="Vandelay Industries"></div>
  <div class="form-input-area"><label for="vendorDescription">Vendor description:</label><textarea name="vendorDescription" placeholder="Importer/Exporter, buys a lot in the springtime"></textarea></div>
  <div class="form-input-area"><label for="vendorPhone">Phone:</label><input type="tel" name="vendorPhone" placeholder="5038675309"></div>
  <div class="form-input-area"><label for="vendorEmail">Email:</label><input type="text" name="vendorEmail" placeholder="art@vandelay.dev"></div>
  <div class="form-input-area"><label for="vendorBreadRate">Price per Bread unit:</label><input value="3" type="number" name="vendorBreadRate" placeholder="3"></div>
  <div class="form-input-area"><label for="vendorPastryRate">Price per Pastry unit:</label><input value="2" type="number" name="vendorPastvalue="3" ryRate" placeholder="2"></div>
  <div class="button-area">
    <button class="green" type="submit">Add Vendor</button>
  </div>  
</form>
<a href='/vendors'><button type="button">Go Back</button></a>