@{
  Layout = "_Layout";
}

<div class="message" id="vendors-message">Add vendor</div>
<form method="post" action="/vendors">
  <div class="form-input-area"><label for="vendorName">Vendor name:</label><input type="text" name="vendorName"></div>
  <div class="form-input-area"><label for="vendorDescription">Vendor description:</label><textarea name="vendorDescription"></textarea></div>
  <div class="form-input-area"><label for="vendorPhone">Phone:</label><input type="number" name="vendorPhone"></div>
  <div class="form-input-area"><label for="vendorEmail">Email:</label><input type="text" name="vendorEmail"></div>
  <div class="button-area">
    <button type="submit">Add</button>
  </div>  
</form>