@{
  Layout = "_Layout";
}

<h1>Greetings, Pierre.</h1>
<div id="greeting-message">
  Click the button below to see your list of vendors.
</div>

<a href="/vendors">
  <button>See Vendors</button>
</a>