@{
  Layout = "_Layout";
}

<h1>Greetings, Pierre.</h1>
<div id="greeting-message">
  Click the buttons below to see your vendors or orders.
</div>
<p>&nbsp;</p>
<a href='@Url.Action("Index", "Vendors")'>
  <button>See Vendors</button>
</a>
<a href='@Url.Action("Index", "Orders")'>
  <button>See Orders</button>
</a>