@{
  Layout = "_Layout";
}

<p class="message" id="greeting-message">
  <h1>Greetings, Pierre.</h1>
  Click the button below to see your list of vendors.
</p>

<a href="/vendors">
  <button>See Vendors</button>
</a>