@{
  Layout = "_Layout";
}

<p class="message" id="greeting-message">
  Greetings, Pierre.<br>
  Click the button below to see your list of vendors.
</p>

<a href="/vendor">
  <button>See Vendors</button>
</a>