@{
  Layout = "_Layout";
}

<div class="message">Editing order #@Model.Id</div>
<form action="../@Model.Id/edit" method="post" class="order-form">
  <div class="form-input-area"><label for="breadAmount">Bread units:</label><input value=@Model.BreadAmount type="number" name="breadAmount" placeholder=@Model.BreadAmount></div>
  <div class="form-input-area"><label for="pastryAmount">Pastry units:</label><input value=@Model.PastryAmount type="number" name="pastryAmount" placeholder=@Model.PastryAmount></div>
  @* <input type="text" name="vendorId" value="@Model.Id"> *@
  <div class="button-area">
    <button class="green" type="submit">Save Changes</button>
  </div>  
</form>
<a href='../'><button>Exit Without Saving</button></a>