@{
  Layout = "_Layout";
}

@using VendorTracker.Models

<div class="message" id="vendors-message">Orders for @Model.Name:</div>
 @if (Model.Orders.Count == 0)
  {
    <p class="empty-list-message">No orders!</p>
  }
  <ul class="card-list" id="order-list">
    @foreach (Order order in Model.Orders)
    {
      <li class="card order-card">
        <div class="order-date">
          Order Date: @order.Date
        </div>
        <div class="bread-amount">
          Bread units: @order.BreadAmount
        </div>
        <div class="pastry-amount">
          Pastry units: @order.PastryAmount
        </div>
        <div class="total-price">
          Total price: $@order.TotalPrice
        </div>
        
      </li>
    }
  </ul>

  <a href='/vendors/@Model.Id/orders/new'><button class="green">Add New Order</button></a>
  <a href='/vendors'><button>Back to Vendor List</button></a>