@{
  Layout = "_Layout";
}

@using VendorTracker.Models

<div class="message" id="vendors-message">Orders for @Model.Name:</div>
 @if (Model.Orders.Count == 0)
  {
    <p class="empty-list-message">No orders!</p>
  }
  <ul class="card-list" id="order-list">
    @foreach (Order order in Model.Orders)
    {
      <li class="card order-card">
        <div class="order-card-row">
          <div>Order Date:</div>
          <div>@order.Date</div>
        </div>
        <div class="order-card-row">
          <div>Bread units:</div>
          <div>@order.BreadAmount @@ $@Model.Rates["bread"]</div>
        </div>
        <div class="order-card-row">
          <div>Pastry units:</div>
          <div>@order.PastryAmount @@ $@Model.Rates["pastry"]</div>
        </div>
        <div class="order-card-row">
          <div>Total price:</div>
          <div>$@order.TotalPrice</div>
        </div>
        <div class="edit-buttons-area">
          <a href="/vendors/@Model.Id/orders/@order.Id/edit">
            <button class="yellow">Edit</button>
          </a>
          <a href="/vendors/@Model.Id/orders/@order.Id/delete">
            <button class="red">Delete</button>
          </a>
        </div>
      </li>
    }
  </ul>

  <a href='/vendors/@Model.Id/orders/new'><button class="green">Add New Order</button></a>
  @if (Model.Orders.Count > 0) {
  <a href="/vendors/@Model.Id/orders/delete">
    <button class="red">Delete All Orders</button>
  </a>
  }
  <a href='/vendors'><button>Back to Vendor List</button></a>