@{
  Layout = "_Layout";
}

<div class="message" id="vendors-message">Add order for @Model.Name</div>
<form action="/vendors/@Model.Id/orders" method="post" id="new-order-form">
  <div class="form-input-area"><label for="breadAmount">Bread units:</label><input value="12" type="number" name="breadAmount"></div>
  <div class="form-input-area"><label for="pastryAmount">Pastry units:</label><input value="6" type="number" name="pastryAmount"></div>
  <input type="text" name="vendorId" value="@Model.Id">
  <div class="button-area">
    <button class="green" type="submit">Add Order</button>
  </div>  
</form>
<a href='/vendors/@Model.Id/orders'><button>Go Back</button></a>